@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Noto+Serif&display=swap');




*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
body{
    background:  #2ec194;
}
.mainContainer{
    width: 80vw;
    /* height: 100vh; */
    height: auto;
    margin: 3px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    width: 100%;
    min-height: 700px;
    /* border: 1px solid; */
    background:  #2ec194;
    margin: 0 auto;
    box-shadow: -10px 10px 5px rgba(255,255,255,0.3),
                 10px 10px 5px rgba(0,0,0,0.015),
                -10px -10px 5px rgba(255,255,255,0.3),
                10px 10px 5px  rgba(0,0,0,0.25),
                 -10px -10px 5px rgba(0,0,0,0.0155),
                 10px 10px 5px  rgba(0,0,0,0.0155);
    border-radius: 16px;
}
.Display_city{
    width: 80%;
    height: auto;
    margin: 30px auto 0 auto;
    /* border: 1px solid; */
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;

}
.Display_city h2,.Display_city input{
    font-size: 30px;
    outline: none;
}
.Display_city h2{
    display: inline;
    text-transform: capitalize;
    color: rgba(255,255,255,0.85);
}
.Display_city input{
    color: rgb(1, 7, 14);
    background-color: rgb(204, 216, 210);
    display: inline-block;
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    text-transform: capitalize;
    caret-color: rgb(129, 3, 247);
    margin: 0 auto;
}
.display_weather_desc .Weather_desc .wind span{
    color: red!important;
    padding: 0 5px 0 10px;
}
.Precip span{
    color: red;
    padding: 0 5px 0 10px;
}
.pressure span{
    color: red;
    padding: 0 5px 0 10px;
}
.display_weather_desc{
    width: 60vw;
    margin: 40px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    text-align: center;
    transform: translate(0px,0px);
    transition: transform 0.5s;
}

.display_weather_desc:hover{
    transform: translate(3px,-3px);
    box-shadow: -5px 10px 5px rgba(255,255,255,0.3),
                -5px 10px 5px rgba(0,0,0,0.112),
                -5px -10px 5px rgba(0,0,0,0.15),
                -5px -10px 5px  rgba(255,255,255,0.015);
    background-color: rgba(175, 12, 224,0.65);
}
.display_weather_desc .Weather_Cond{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.85);
    font-size: 1.2rem;
}
.display_weather_desc .Weather_Cond img{
    height: 70%;
    width: 100px;
}
.display_weather_desc .weather_Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: rgba(255,255,255,0.85);;
}
.Weather_desc{
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.85);
    text-align: center;
    font-size: 1.1rem;
}

.Weather_desc ul{
    list-style-type: none;
    width: 100%;
    padding: 10px;
}
.Weather_desc ul li{
    padding: 10px;
    text-align: center;
    position: relative;
}
.Weather_desc ul li img{
    position: absolute;
    top: 8px;
    left: 0;
    height: 30px;
    width: 30px;
}
.other_Days_Weather{
    width: 100%;
    margin: 50px 0 100px 0;
}
.other_days{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    padding: 40px;
    /* border: 1px solid; */
    text-align: center;
    transition: 0.5s ease-in-out;
}
.days{
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.days:hover{
    transform: scale(1.5)
}
.EnterCity{
    z-index: 1;
}
.place{
    z-index: -1;
}


.Display_city_name{
    margin-top: 20px;
    text-transform: capitalize;
    text-align: center;
    font-size: 45px;
    color: rgba(175, 12, 224,0.65);
}
.error{
    font-size: 10px;
    color: red;
}
@media(max-width:600px){
    .Display_city{
        display: block;
        height: auto;
        margin: 0 auto;
    }
    .Display_city h2{
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
    }
    .Display_city input{
        width: 230px;
        display: block;
        margin: 50px auto 30px auto;
        text-transform: capitalize;
    }
}
#map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }